.myGrid {
    .ui-grid {
        height: 160px;
    }
    .red {
        color: red !important;
    }
    .green {
        color: green !important;
    }
   
}
.errorService {
        color: red !important;
    }
