<div class="myGrid">

      <h1>Peripheral ports</h1>
      <!--  <p translate>CHIP_PIN_ASK_CUSTOMER</p> -->
      <div class="panel panel-primary">

            <div class="panel-body">

                  <div>
                        <div class="col-md-12">
                              <div ui-grid="vmPeripheralPorts.gridOptions" class="myPeripheralGrid"></div>
                        </div>

                  </div>
            </div>

     
      </div>

      <h1>Dll version</h1>
      <div class="panel panel-primary">

            <div class="panel-body">
                  <div ng-if="vmPeripheralPorts.dll">
                  <table class="table table-default table-striped table-hover">
                        <thead>
                              <tr>
                                    <th>Name</th>
                                    <th>Version</th>
                              </tr>
                        </thead>
                        <tbody>
                         <tr ng-repeat="(key,value) in vmPeripheralPorts.dll">
                              <td>{{key}}</td>
                              <td>{{value}}</td>
                          </tr>
                          
                    </tbody>
                   </table>
            </div>
            <div ng-if="!vmPeripheralPorts.dll">
                  <span class="errorService">
                        Unable get Dll versions
                  </span>
                  </div>
            </div>
      </div>

      <br>
      <DIV class="row">
            <div class="col-md-1 pull-right">
                  <button class="btn btn-default  pull-right" ng-click="vmPeripheralPorts.returnToFlow();">CLOSE</button>
            </DIV>
            <div class="col-md-2 pull-right">
                  <button class="btn btn-default  pull-right" ng-click="vmPeripheralPorts.getPorts();">REFRESH</button>
            </DIV>
            <!-- {{vmPeripheralPorts.dll.dllVersion}}-->
            {{vmPeripheralPorts.mockResponse}}
      </DIV>
</div>
